@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Header **/
nav {
  padding: 2rem 0;
  font-family: 'Roboto', sans-serif;
}

.name {flex-grow: 1;}
.name h2 {font-size: 18px;font-weight: 600;}

.menu a {
  font-size: 16px;
  font-weight: 400;
  margin: 0 5px;
  padding: 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  color: #888;
  transition:all .2s ease-in-out;
  text-decoration: none;
}
.menu a:hover {
  color: #222;
  border-color: #e1e1e1;
}

/** Welcome **/
.photo {
  margin-top: 75px;
}
.photo img {
  border: 1px solid #a0a0a0;
  box-shadow: 2px 2px 4px 2px #ccc;
}
.welcome-msg {
  padding: 20px 50px;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}
.welcome-msg span {
  margin: 10px 0;
  font-size: 60px;
  color: #323F52 !important;
}
.welcome-msg p {
  max-width: 600px;
  color: #919191;
  line-height:1.5rem;
  font-size: 18px;
}

/** Effect  **/
.flow-curve, .flow-diag {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.flow-curve div, .flow-diag div {
  position: absolute;
  width:200%;
  height: 250px;
  margin-left: -50%;
}

.flow-curve div {
  border-radius:50%;
  margin-top: -200px;
}

.flow-diag div {
  margin-top: -178px;
  transform: rotateZ(-3deg);
}


@media (min-width: 768px) {
  .flow-curve div {
    width:150%;
    margin-left: -25%;
    height: 200px;
    margin-top: -160px;
  }
}

@media (min-width: 992px) {
  .photo {
    margin-top: 150px;
  }
  .flow-curve div{
    width:125%;
    margin-left: -12.5%;
  }
}

/** Awards **/
.round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block
}
.roundin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#awards {
  background-color:#EFF3F9;
  min-height: 200px;
  margin-top: -70px;
}
#awards .card, #awards .card-body {
  background-color: transparent !important;
  border: none;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

#awards .card-title {
  font-weight: 400;
  color: #323F52;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 25px;
}

#awards .card-text {
  font-weight: 400;
  font-size: 85%;
  color: #666;
}

/** Jobs **/

/** Jobs **/
#jobs {margin-top: -50px;margin-bottom: -100px;}
#jobs .card {position: relative;border: none; overflow:hidden; margin: 20px; margin-bottom: 30px;}
#jobs .card:hover {cursor: pointer;}
#jobs .card:hover .box {top: 0px;}

#jobs .card-img-top {
  border: none;
  width: 100%;
  height: 500px;
  transition: all .2s ease-in-out;
}

#jobs .card:hover img  {
  transform : scale(0.75);
  -moz-transform : scale(0.75);      /* Firefox */
  -webkit-transform : scale(0.75);   /* Chrome - Safari */
  -o-transform : scale(0.75);        /* Opera */
}

#jobs .img2 {
  height: 300px !important;
}

#jobs .card .box {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #F5F4F5;
  opacity: 0.84;
  top: 100%;
  font-family: 'Roboto', sans-serif;
  transition: all .2s ease-in-out;
}
#jobs .box div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#jobs h5 {
  word-wrap: break-word;
  white-space: pre-line;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
}
#jobs small {
  position: absolute;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
}
#jobs .card-body {
  position: absolute;
  bottom: 0px;
  background-color: white;
  z-index: 2000;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

#jobs .card::before {
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.65);
  left: 0px;
  top: 0px;
  transition: all .4s ease-in-out;
}
#jobs .card:hover::before {
  opacity: 0.75;
  transform: rotateY(90deg);
}

@media (min-width: 544px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) {
  #jobs .card-img-top {
    height: 375px;
  }
  #jobs .img2 {
    height: 250px !important;
  }
  #jobs .card {
    margin: 5px;
  }
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  #jobs .card-img-top {
    height: 400px;
  }
  #jobs .img2 {
    height: 250px !important;
  }
  .card-columns {
    column-count: 3;
  }
}

/* About me */
#about {
  background-color: #EFF3F9;
  padding: 20px 0px;
}
