@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Header **/
nav {
  padding: 2rem 0;
  font-family: 'Roboto', sans-serif;
}

.name {flex-grow: 1;}
.name h2 {font-size: 18px;font-weight: 600;}

.menu a {
  font-size: 16px;
  font-weight: 400;
  margin: 0 5px;
  padding: 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  color: #888;
  transition:all .2s ease-in-out;
  text-decoration: none;
}
.menu a:hover {
  color: #222;
  border-color: #e1e1e1;
}

/** Welcome **/
.photo {
  margin-top: 75px;
}
.photo img {
  border: 1px solid #a0a0a0;
  box-shadow: 2px 2px 4px 2px #ccc;
}
.welcome-msg {
  padding: 20px 50px;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}
.welcome-msg span {
  margin: 10px 0;
  font-size: 60px;
  color: #323F52 !important;
}
.welcome-msg p {
  max-width: 600px;
  color: #919191;
  line-height:1.5rem;
  font-size: 18px;
}
